.border-emergency {
  border-color: rgb(153, 27, 27) !important;
}

.border-alert {
  border-color: rgb(220, 38, 38) !important;
}

.border-critical {
  border-color: rgb(239, 68, 68) !important;
}

.border-error {
  border-color: rgb(248, 113, 113) !important;
}

.border-warning {
  border-color: rgb(251, 191, 36) !important;
}

.border-notice {
  border-color: rgb(96, 165, 250) !important;
}

.border-info {
  border-color: rgb(34, 211, 238) !important;
}

.border-debug {
  border-color: rgb(107, 114, 128) !important;
}
